* {
  margin: 0;
  padding: 0;
}


H1 {
  color: hsla(290,60%,70%,8);
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 8px hsla(120,100%,25%,0.6);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;

}

H2 {
  color: hsla(290,60%,70%,8);
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 8px hsla(120,100%,25%,0.6);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

H3 {
  color: hsla(290,60%,70%,8);
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 8px hsla(120,100%,25%,0.6);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

p {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.navigation {
  text-align: center;
  overflow: hidden;
  margin: auto;
  width: 750px;
  margin-top: 30px;
  list-style: none;
}

.navigation ul {
  display: block; 
}

.navigation li {
  display: inline-block;

}

.navigation a {
  float: left;

  width: 150px;
  border-radius: 15px;
  background-color: hsla(120,100%,25%,0.3);
  margin: 0 10px 0 10px; 
  padding: 0 10px 0 10px; 
  
}

img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

div.container {
  text-align: center;
}

.list {

  display: inline-block;
  text-align:left;
  padding: 20px;
  width: 60%;
}

li {
  padding: 5px;
 
}




